{% load static %}

<html>
<head>
    <title>ContactBook</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'crud/style.css' %}">
</head>

<body>
<div class="container">
    <h1 class="text-center">Contacts</h1>
        <a href="{% url 'crud:group_create' %}" class="btn-success btn">Create Contact Group</a>
    <div class="table-responsive">
        <table class="table table-hover" id="table_contact">
            <thead>
            <tr class="active">
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>

            <tbody>

            {% for contact in contact_list %}
            <tr>
                <td><a href="{% url 'crud:contact_detail' contact.id %}">{{contact.last_name}} {{contact.first_name}}
                    {{contact.patronymic|default_if_none:""}}</a></td>
                <td class="edit"><a href="{% url 'crud:contact_update' contact.id %}" class="btn-info btn">Edit</a></td>
                <td class="edit"><a href="{% url 'crud:contact_delete' contact.id %}" class="btn-danger btn">Delete</a></td>
            </tr>

            {% endfor %}

            </tbody>
        </table>
        <nav class="text-center">
            <ul class="pagination justify-content-center"></ul>
        </nav>
    </div>
</div>
</body>

</html>