{% load static %}

<html>
<head>
    <title>ContactBook</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'crud/style.css' %}">
</head>

<body>
<h1 class="text-center">Contact Info</h1>
<a href="{% url 'crud:index' %}" class="btn-info btn-lg">Go to List</a>
<form method="post">
    {% csrf_token %}
    <div class="container-fluid col-lg-6">
        {% for group in contact.groups.all %}
            <span class="btn btn-primary">{{ group.group_name }}</span>
        {% endfor %}
        <p></p>
        <div class="form-group">
            <label class="control-label">First Name (*)</label>
            <input class="form-control" value="{{contact.first_name}}" readonly>
        </div>

        <div class="form-group">
            <label class="control-label">Last Name (*)</label>
            <input class="form-control" value="{{contact.last_name}}" readonly>
        </div>

        <div class="form-group">
            <label class="control-label">Patronymic</label>
            <input class="form-control" value="{{contact.patronymic|default_if_none:""}}" readonly>
        </div>

        <div class="form-group">
            <label class="control-label">Birthday</label>
            <input type="date" class="form-control" value="{{contact.birth_date|date:"Y-m-d"|default_if_none:""}}" readonly>
        </div>

        <div class="form-group">
            <label class="control-label">Citizenship</label>
            <input class="form-control" value="{{contact.citizenship|default_if_none:""}}" readonly>
        </div>

        <div class="form-group">
            <label class="control-label">Web Site</label>
            <input class="form-control" value="{{contact.website|default_if_none:""}}" readonly>
        </div>

        <div class="form-group">
            <label class="control-label">Email</label>
            <input class="form-control" value="{{contact.email|default_if_none:""}}" readonly>
        </div>

        <div class="form-group">
            <label class="control-label">Place of work</label>
            <input class="form-control" value="{{contact.place_of_work|default_if_none:""}}" readonly>
        </div>

        <div class="form-group">
            <label class="control-label">Country</label>
            <input class="form-control" value="{{contact.country|default_if_none:""}}" readonly>
        </div>

        <div class="form-group">
            <label class="control-label">City</label>
            <input class="form-control" value="{{contact.city|default_if_none:""}}" readonly>
        </div>

        <div class="form-group">
            <label class="control-label">Street</label>
            <input class="form-control" value="{{contact.street|default_if_none:""}}" readonly>
        </div>

        <div class="form-group">
            <label class="control-label">Zip-code</label>
            <input class="form-control" value="{{contact.zip_code|default_if_none:""}}" readonly>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive col-md-6">
            <a href="{% url 'crud:attachment_create' contact.id %}" class="btn btn-sm btn-success">Create</a>
            <table class="table table-hover" id="table_attachment">
                <thead>
                <tr class="active">
                    <th>Filename</th>
                    <th class="d-none">Input</th>
                    <th>Upload date</th>
                    <th>Note</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>

                <tbody>
                {% for attachment in contact.attachment_set.all %}
                <tr>
                    <td class="filename"><a target="_blank">{{attachment.file_name}}</a></td>
                    <td class="d-none file"><input type="file"></td>
                    <td class="upload_date">{{attachment.upload_date}}</td>
                    <td class="note">{{attachment.note}}</td>
                    <td class="edit"><a href="{% url 'crud:attachment_update' contact.id attachment.id %}"
                                        class="btn-success btn-lg">Edit</a></td>
                    </td>
                    <td class="edit"><a href="{% url 'crud:attachment_delete' contact.id attachment.id %}"
                                        class="btn-error btn-lg">Delete</a></td>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="table-responsive col-md-6">
            <a href="{% url 'crud:phone_create' contact.id %}" class="btn btn-sm btn-success">Create</a>
            <table class="table table-hover" id="table_phone">
                <thead>
                <tr class="active">
                    <th>Country code</th>
                    <th>Operator code</th>
                    <th>Number</th>
                    <th>Note</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>

                <tbody>
                {% for phone in contact.phone_set.all %}
                <tr>
                    <td class="country_code">{{phone.country_code}}</td>
                    <td class="operator_code">{{phone.operator_code}}</td>
                    <td class="number">{{phone.phone_number}}</td>
                    <td class="note">{{phone.note}}</td>
                    <td class="edit"><a href="{% url 'crud:phone_update' contact.id phone.id %}"
                                        class="btn-success btn-lg">Edit</a></td>
                    <td class="edit"><a href="{% url 'crud:phone_delete' contact.id phone.id %}"
                                        class="btn-error btn-lg">Delete</a></td>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


</form>
</body>
</html>